.cart {
  display: flex;
  justify-content: space-around;
  flex-basis: 50%;
}

.cart__items {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
}
.cart-item img {
  width: 120px;
  border-radius: 5% 5%;
}

.cart-item__info {
  display: flex;
  padding-left: 1em;
  flex-direction: column;
  justify-content: center;
}

.cart-item__info p:first-child {
  font-weight: 700;
}
.empty-cart {
  align-self: center;
  justify-self: center;
  font-size: 2em;
  font-weight: 700;
}
